<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="PROJ_PARATEST">
    <classes>
  <class name="TNG.PROJ_PARA_TNG"></class>
  </classes>
  </test> <!-- PROJ_PARATEST -->
</suite> <!-- Suite -->
